.homeTable {
    width: 95%;
    height: 78vh;
    margin-left: 2.5%;
    text-align: center;
    table-layout: fixed;
    font-size: 47pt;
    color: #282c34;
}

.hometd {
    /*border: 1px solid lightgrey;*/
}

.hometd:hover {
    background-color: #e0e0e0;
    font-size: 50pt;
}